<%- contentFor( 'body') %>

<<<<<<< Updated upstream
<div class="jumbotron text-center">
    <p>Sobre</p>
=======
<div>
    <br><p> Jair Ferreira de A. Filho <span class="copyleft">&copy;</span>, <span class="font-italic">all rights reserved</span></p>
    <p>Universidade Federal do Ceará</p>
    <p>O código desta aplicação está sob licença:  <a href="https://github.com/wwagner33/first-app2/blob/main/LICENSE" target="_blank" rel="noopener noreferrer">Gnu Public License version 3.0</a></p>
    <p>O código desta aplicação encontra-se no endereço:  <a href="https://github.com/estigiox/Trab-I-AMII" target="_blank" rel="noopener noreferrer">Repositório GitHub</a></p>
>>>>>>> Stashed changes
</div> 