<%- contentFor( 'body' ) %>

<div class="jumbotron text-center">
    <p>Esta aplicação foi criada para auxiliar alunos e interessados que queiram criar sua primeira aplicação Web utilizando a tecnologia Node.js.</p>
</div> 